h1 {
  font-weight: 700;
  font-size: rem(64);
  line-height: math.div(78, 64);
}

h2 {
  font-weight: 600;
  font-size: rem(48);
  line-height: math.div(56, 48);
}

.page {
  min-height: calc(100vh - rem(80));

  &__container {
    min-height: 100%;
  }

  &__breadcrumbs {
    margin: rem(24) 0 rem(48);
    font-size: $menuFontSize;
    line-height: $menuLineHeight;

    a {
      transition: $transitionLink;
    }

    a:hover {
      color: $accentColor;
    }

    a:active {
      color: $accentColorActive;
    }
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
  }

  &__see-all {
  }

  &__search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__input {
    position: relative;
    min-width: rem(280);
    display: block;
    padding: rem(16) rem(12) rem(16) rem(44);
    font-size: rem(16);
    line-height: math.div(20, 16);
    outline: 2px solid #fff;
    border-radius: $borderRadius;
    box-shadow: $shadowSmall;
    transition: all 0.3s ease 0s;

    &::placeholder {
      color: $dark50Color;
    }

    &:focus {
      outline: 2px solid $dark50Color;
    }
  }

  &__search-button {
    position: absolute;
    top: 50%;
    left: rem(16);
    transform: translateY(-50%);
  }

  &__dropdown {
    .dropdown__button {
      padding: rem(12) rem(16);
    }
  }
}

.see-all {
  display: flex;
  gap: rem(12);
  margin-right: rem(16);
  font-weight: 600;
  font-size: $menuFontSize;
  line-height: $menuLineHeight;
  border-radius: $borderRadius;
  transition: $transitionLink, margin 0.3s, padding 0.3s;

  &:hover {
    margin-right: 0;
    padding: rem(12) rem(16);
    color: $accentColor;
    box-shadow: $shadowButton;
    path {
      fill: $accentColor;
    }
  }

  &:active {
    box-shadow: $shadowButtonActive;
  }

  path {
    transition: $transitionLink;
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(36);
}

.dropdown {
  position: relative;

  &--active {
    .dropdown__button {
      padding: rem(12) rem(16);
      box-shadow: $shadowButton;

      svg {
        transform: rotate(180deg);
      }
    }

    .dropdown__body {
      scale: 1;
    }
  }

  &__button {
    cursor: pointer;
    user-select: none;
    display: flex;
    border-radius: $borderRadius;
    position: relative;
    display: flex;
    gap: rem(12);

    font-weight: 600;
    font-size: $menuFontSize;
    line-height: $menuLineHeight;
    background: $lightColor;
    transition: all 0.3s ease 0s;

    &:hover {
      padding: rem(12) rem(16);
      color: $accentColor;
      box-shadow: $shadowButton;

      path {
        fill: $accentColor;
      }
    }

    &:active {
      transition: all 0.3s ease 0s, box-shadow 0.1s;
      box-shadow: $shadowButtonActive;
    }

    svg {
      transition: $transitionLink;

      path {
        transition: $transitionLink;
      }
    }
  }

  &__body {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 56px;
    left: 0;
    padding: rem(12) rem(16);
    background: $lightColor;
    border-radius: $borderRadius;
    box-shadow: $shadowSmall;
    scale: 0;
    transition: all 0.225s ease 0s;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(2);
    font-size: rem(16);
    line-height: math.div(24, 16);
  }

  &__item {
  }

  &__link {
    font-weight: 600;
    transition: $transitionLink;

    &:hover{
      color: $accentColor;
    }
  }
}