.error {
  margin: rem(64) 0;
  display: grid;
  grid-template-columns: repeat(12, rem(80));
  gap: rem(20);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    grid-column: span 5;
    max-width: rem(350);
  }

  &__sub-title {
    font-weight: 700;
    font-size: rem(14);
    line-height: math.div(18, 14);
    color: $accentColor;
  }

  &__title {
    margin-bottom: rem(12);
    font-weight: 700;
    font-size: $h1FontSize;
    line-height: $h1LineHeight;
  }

  &__text {
    width: rem(280);
    margin-bottom: rem(24);
    font-size: $mainTextFontSize;
    line-height: $mainTextLineHeight;
  }

  &__button {
    display: flex;
    gap: rem(8);
    padding: rem(12) rem(16);
    font-weight: 600;
    font-size: $menuFontSize;
    line-height: $menuLineHeight;
    background: $accentColor;
    border-radius: $borderRadius;
    transition: all 0.3s ease 0s;

    &:hover {
      box-shadow: $shadowAccent;
    }

    &:active {
      box-shadow: $shadowButtonActive;
    }

  }

  &__image {
    grid-column: span 7;
    box-shadow: $shadow;
    padding: rem(16);
    border-radius: $borderRadius;

    img {
      width: 100%;
      height: 100%;
      border-radius: $borderRadiusInner;
      object-fit: cover;
    }
  }
}
